body{
background:linear-gradient(to right,#ffc0cb,#ffb6c1);
font-family:Arial;
text-align:center;
}

.box{
background:white;
margin:20px;
padding:15px;
border-radius:15px;
box-shadow:0px 0px 10px grey;
}

#products{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.card{
background:white;
margin:10px;
padding:10px;
width:150px;
box-shadow:0px 0px 5px grey;
}

img{
width:100px;
height:100px;
}
